
/*change the width and align carousel to center*/
#myCarousel{
width:750px;
margin:0 auto;
	margin-top: 110px;
    margin-right: auto;
    margin-bottom: 110px;
    margin-left: auto;
}
/*makes image in carousel go to the center*/
.carousel-inner>.item>img, .carousel-inner>.item>a>img{
	margin:0 auto;
}
/*makes image of lia go to center*/
.row5{
	text-align: center;

}
/*puts the words in the center*/
p { 
	text-align: center;
}
ul,ol{
	text-align:center;
		list-style-type: none;
}
.col-md-8{
	text-align: center;
		width: 100%;
	margin-top: 110px ;
}
h1{
	text-align: center;
}
.row7{
text-align: center;
}
.row8{
text-align: center;
}
.row9{
text-align: center;
}
.row10{
text-align: center;
}
h2{
	text-align: center;	
	padding-top: 1cm;
}
.name{
	font-family: 'Roboto';
	font-size: 18px;
}
/*adds padding between pictures*/
.col-md-4{
	padding-top: 1cm;
	padding-bottom: 1cm;
}
body{
	font-family: 'Roboto';
	font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.jumbotron{
	background-color: #EF5330;
    color: #fff; 
}

p .col-md-12 {
	height: 100%;
	width: 100%;
}

h2 {
	text-align: center;
	/*margin-right: 1200px;*/
}
/*adds padding between the picture of lia and the paragraph*/
.row6{
padding-top: 1cm;
}